@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
}


@media (max-width: 600px) {
    header {
       height: 100px; /* Tamanho fixo para telas menores que 600px */
    }
 }
 
 @media (min-width: 601px) {
    header {
       height: 10vh; /* Usar unidade de visualização para telas maiores que 600px */
    }
 }
 

:root {
    #0D0D0D,#254029,#2D5930,#36733A,#F2DF80;
 --cor0:#0D0D0D;
 --cor1:#254029;
 --cor2:#2d5930;
 --cor3:#36733a;
 --cor4:#f2df80;

 font-family: Arial, Helvetica, sans-serif;
 font-weight: lighter;
 font-size: 5vw;
}

header {
    background-image: linear-gradient(to right ,#0D0D0D,#254029,#2d5930,#36733a);  
    height: 40vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.logo{
   display: flex; 
   align-items: center;
   justify-content: center;

}
nav{
    background-color: var(--cor4);
}
a{
   color: white;
text-decoration: none;

}